

:root {
    --black-color: #010000;
    --white-color: #ffffff;
    --lightgray-color: #e6e6e6;
  }
  
/*   .Home { */
/*     font-size: 18px; */
/*     height: 100vh; */
/*     width: 100%; */
    /* font-weight: 400; */
    /* font-style: normal; */
/*   } */
  
/* ヘッダー部 */
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: rgb(102, 102, 102);
    color: white;
    height: 90px;
    position: fixed;
    z-index: 10;/* ヘッダー固定で動く */
  }
  
  header .logo h3 {
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: white;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    list-style: none; /* 白点消す */
    display: inline-block; /* 横並び */
    margin-right: 30px; /* 幅 */
  }
  
  nav ul li {
    font-size: 19px;
    text-decoration: none;
    color: var(--white-color);
    transition: all 0.3s; /* ホバー時間 */
  }
  
  /* カーソル当てた時のホバー */
  nav ul li :hover {
    color: #48b4af;
  }
  
  .container {
    height: 100vh;
    padding: 120px;
  }
  
/*   .container h1 {
    text-align: center;
    font-size: 40px;
  } */
  
/*   .profileImage {
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
  } */
  
/*   .func {
    margin-top: 80px;
    margin-bottom: 60px;
  }
  
  #func img {
    object-fit: cover;
    margin-bottom: 12px;
    margin-top: 12px;
    height: 300px;
  } */
  
  /* スマホサイズ対応(wrapper) */
/*   .wrapper {
    max-width: 1060px;
    margin: 0 auto 130px auto;
    font-size: 0.9rem;
    padding: 0 4%;
  } */
  
  /* ↓↓↓News↓↓↓ */
/*   #news dl {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #c8c8c8;
    margin-bottom: 20px;
  } */
  /* 左側の日付 solid=線*/
/*   #news dt {
    width: 20%;
    border-bottom: 1px solid #c8c8c8;
    padding: 15px
  } */
  
  /* 右側の短文 padding=余白*/
/*   #news dd {
    width: 80%;
    border-bottom: 1px solid #c8c8c8;
    padding: 15px;
  } */
  
  /* News(スマホ対応)*/
/*   #news dl {
    flex-direction: column;
  } */
/*   #news dt {
    width: 100%;
    border-bottom: none;
    padding-bottom: 0;
  } */
/*   #news dd {
    width: 100%;
    padding-top: 0;
  } */
  /* News(スマホ対応) */
  /* ↑↑↑News↑↑↑ */
  
  
  /* ↓↓Mail↓↓↓ */
/*   #contact p {
    text-align: center;
    margin-bottom: 20px;
  } */
  
/*   #contact dl {
    display: flex;
    flex-wrap: wrap;
  } */
  
/*   #contact dt {
    width: 15%;
    margin-bottom: 10px;
  }
   */
/*   #contact dd {
    width: 85%;
    margin-bottom: 10px;
  }
   */
/*   #contact dd input,
  #contact dd textarea {
    width: 100%;
    border: 1px solid #c8c8c8;
    padding: 10px;
  } */
  
/*   #contact dd textarea {
    height: 10rem;
  } */
  
/*   #contact .button {
    text-align: center;
  
  } */
  
/*   #contact .button input {
    border: 1px solid #24292e;
    background-color: #24292e;
    width: 200px;
    padding: 15px 0;
    color: #fff;
    transition: all 0.3s;
  } */
  
/*   #contact .button input:hover {
    background-color: #fff;
    color: #24292e;
  } */
  
  /* Mail(スマホサイズ) */
/*   #contact dl {
    flex-direction: column;
  } */
  
/*   #contact dt {
    width: 100%;
    margin: 5px;
  } */
/*   
  #contact dd {
    width: 100%;
  } */
  /* Mail(スマホサイズ) */
  /* ↑↑↑Mail↑↑↑ */